body > div:first-child {
  overflow-x: hidden;
}

.fill-gray {
	fill: #526D82;
}

.bg-dimgrey {
  background-color: #526d82;
}

.bg-campus{
  background-image: url('../public/mmu-campus.jpeg');
  background-size: cover;
}

.bg-project{
  background-image: url('../public/project.jpg');
  background-size: cover;
}

.bg-campus::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}